.selected-poke{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    padding: 5px;
    margin: 20px;
    cursor: default;
    transition: 0.3s;
    width: 15%;
    transition: 0.3s;
    box-shadow: 0 0 15px rgba(184, 181, 181, 0.1);
    border-color: #646cff;
}


.selected-poke img{
    border-radius: 50%;
    margin-right: 10px;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.moves {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
    padding: 20px;
    margin: 20px;
    min-width: 40%;
}